
#buyer-page {
    width: 100%;
    height: 600px;
    background-color: #fa5030;
    background-image: url("@/assets/bg-login.png");
    background-repeat: no-repeat;
    background-size: 1070px 100%
}